/*---------- Body ------------------*/
* {
  /*border: 1px solid red;*/
  box-sizing: border-box;
  
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  'aside form'
  'aside article';
}

.flex {
  display: flex;
}

/*---------- Aside -------------------*/
aside {
  background-color: #1f1f3d;
  color: #fff;
  font-size: 1em;
  grid-area: aside;
  min-width: 200px;
}

aside section {
  border-bottom: 1px solid #353567;
  height: 120px;
  margin-left: 10px;
}
aside h1 {
  border-bottom: 1px solid #353567;
  /*height: 60px;*/
  font-size: 1.2em;
  padding: 20px 0px 20px 10px;
  margin: 0;
}

h3 {
  margin: 10px 0px 30px 0px;
}

ul {
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  border-left: 3px solid #1f1f3d;
  margin: 5px 0px;
  font-size: 1em;
}

li:hover {
  /*border-left: 3px solid #f58e72*/
  background-color: #D14119;
}

.aside-form {
  border-bottom: 1px solid #353567;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.aside-form label {
  margin: 30px 0px 0px 0px;
}

.aside-form input {
  width: 90%;
  margin: 10px 0px 20px 0px;
  height: 50px;
}

.aside-small-titles {
  color:#bfbfdd;
  font-size: .8em;
}

.aside-button {
  background-color: #5356a4;
  border: 1px solid #353567;
  color: #e9e9f3;
  border-radius: 5px;
  height: 50px;
  width: 90%;
}

/*---------- Form ----------------*/
.main-form {
  background-color: #A9AAD2;
  grid-area: form;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-form form {
  flex-direction: column;
  width: 50%;
  margin: 30px 0px;
}

.main-form button {
  background-color: #363567;
  margin: 0px 0px 20px 0px;
  color: white;
  height: 50px;
  outline: none;
}

.main-form input {
  height: 50px;
}

.main-form-title-input {
  margin: 10px 0px 20px 0px;
}

/*.main-form-search-input {
  margin-bottom: 20px;
}*/

.main-form-body-input {
  margin: 10px 0px 20px 0px;
  height: 90px;
}

/*---------- Main ---------------*/
main {
  grid-area: article;
  background-color: #eaeaf4;
  flex-wrap: wrap;
  padding: 20px;
}

img{
  width: 30px;
}

.main-no-idea-display {
  display: block;
}

.card {
  flex-direction: column;
  align-items: center;
  border: 2px solid #5355A5;
  margin: 10px;
  width: 300px;
}

.card-top {
  background-color: #1F1F3D;
  height: 40px;
  justify-content: space-between;
}

.card-middle {
  height: 300px;
  padding: 10px;
}

.card-middle h2 {
  font-size: 1em;
}

.card-bottom {
  background-color: #5355A5;
  height: 40px;
  justify-content: space-between;
}

.card-bottom p {
  margin: 0;
  color: white;
}

.star-icon {
  height: 30px;
  width: 30px;
  fill: white;
  margin: 5px 0px 0px 3px;
}

.star-color:hover, active {
  fill: orange;
}


/*---------- Media Queries ---------*/
/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px) {

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px) {

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px) {

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px) {

}
